@import '../node_modules/bootstrap/scss/bootstrap.scss';

$custom-primary-background-color: #337EED;
$custom-primary-text-color: #ffffff;

.row-dark {
    @extend .row;
    background-color:$custom-primary-background-color;
}

.side-panel {
    background-color: $custom-primary-background-color;
    color: $custom-primary-text-color;
}

img[alt$='img-fluid'] {
    @extend .img-fluid;
}
